body {
    background-color: #7382ff;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    color: #333333;
    font-size: larger;
}

code{
    font-family: 'Courier New', Courier;
    font-weight: bolder;
    color: #333333;
    text-align: center;
}

.centerSQ {
    background-color: white;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid #efefef;
    box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 1.6rem 3rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.titles{
    text-align: left;
    margin-top: -10px;
}

.centerSQ .contact{
    margin-top: -10px;
    overflow: hidden;
    word-wrap: break-word
}

.centerSQ .projects{
    margin-top: -10px;
    overflow: hidden;
    word-wrap: break-word
}

a{
    color:rgb(115, 130, 255);
    text-decoration: none;
}

a:hover{
    color: #ff7381;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.things{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 50%;
    color:white;
    text-align: left;
}

.home{
    width: 3%;
    height: 3%;
    padding: 10px;
}

.thingName{
    color: white;
}

.backBTN{
    color: white;
    padding: 5px;
    font-size: medium;
}