
  body {
    font-family: "Inconsolata", monospace;
    color: #ffffff;
    background-color: #000;
  }
  
  a {
    color: rgb(17, 15, 15);
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  a:hover {
    color: #ffffff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-heading {
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }

  p {
      color: #fff;
  }
  
  .filters a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }
  
  .filters a.active:before {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 1px;
    background-color: #000;
  }
  
  .item .item-wrap:after {
    z-index: 2;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease-in-out;
  }
  
  .item .item-wrap>.work-info {
    position: absolute;
    width: 100%;
    text-align: left;
    z-index: 3;
    color: #000000;
    margin-top: 5px;
    transition: 0.3s all ease;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
  
  }

  .burger {
    padding-left: 1rem;
    color: #ffffff
  }
  
  .readmore {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 10px 15px;
    font-size: 1rem;
    color: #ffffff;
    transition: 0.2s all ease;
    font-weight: 700;
  }
  
  .readmore:hover {
    color: #000000;
    text-decoration: none;
    background: #ffffff;
  }

  .list-line li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.7rem;
    width: 10px;
    height: 2px;
    background: #ffffff;
  }
  
  .custom-progress .progress-bar {
    background: #000;
  }

  .custom-navmenu {
    background: #ffffff;
  }
  
  .custom-navmenu .custom-menu li a {
    color: #000000;
    padding: 10px 0 !important;
  }

  .custom-navmenu h3 {
    font-size: 20px;
    color: #000000;
  }
   
  .custom-navmenu a:hover {
    color: #fff;
  }

  .footer a {
    color: #ffffff;
  }
  
  .social a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000000;
    position: relative;
    text-align: center;
    color: #ffffff;
  }

  .social a:hover {
    color: #ffffff;
  }

  mark{
    background-color: #ffffff;
    color: #000000;
  }